:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

body {
    color: rgb(var(--foreground-rgb));
}

.inline {
    display: flex;
    gap: 10px;
    align-items: center;
}

.title {
    flex: auto;
}

.github,
.github:visited {
    color: #000;
}

.header {
    margin-top: 20px;
    margin-bottom: 15px;
    padding: 5px 10px;
    font-weight: 600;
    font-size: 1.5em;
    border-radius: 5px;
    background-color: #eaeef2;
}

.markdown-body details summary {
    padding-bottom: 5px;
}

.markdown-body details {
    margin-bottom: 5px;
    margin-left: 15px;
}
